<ul>
    <li><a href="#"> Cadastro deFornecedores </a>
        <ul>
            <li><a href="https://www.fornecedores2.mg.gov.br/portalcompras/recursos/login.jsp">Acesso ao sistema - CAGEF</a>
            </li>
            <li><a href="https://www.fornecedores2.mg.gov.br/portalcompras/cadastrosenharepresentantefornecedorman.do?evento=x">Cadastro de novos fornecedores</a>
            </li>
            <li><a href="https://www.fornecedores2.mg.gov.br/portalcompras/consultafornecedorescidadaocon.do?evento=Limpar">Consulta a Fornecedores Cadastrados e Emiss&atilde;o de CRC</a>
            </li>
            <li><a href="https://www.fornecedores2.mg.gov.br/portalcompras/fornecedoresimpedidoscon.do?evento=x">Consulta a fornecedores impedidos - CAFIMP</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/cadastro-de-fornecedores/consulta-a-fornecedores-suspensos">Consulta a fornecedores suspensos</a>
            </li>
            <li><a href="http://200.198.22.166/index.php?option=com_content&amp;task=view&amp;id=25&amp;Itemid=62">Orienta&ccedil;&otilde;es para os fornecedores</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Preg&atilde;o </a>
        <ul>
            <li><a href="/seplagportal/processocompra/pregao/consulta/consultaPregoes.html">Consulta apreg&otilde;es</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/./_tutorialpregao/index.html" target="_blank">Tutorial eletr&ocirc;nico - Preg&atilde;o</a>
            </li>
            <li><a href="/seplagportal/processocompra/pregao/avisos/pesquisaPregao.html">Cadastramento de avisos de preg&otilde;es</a>
            </li>
            <li><a href="/seplagportal/processocompra/pregao/gestaoPregoes.html">Cadastramentode preg&otilde;es</a>
            </li>
            <li><a href="#">Sess&otilde;esde preg&atilde;o</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/pregao/presencial/gestaoSessaoPregaoPresencial.html?casoDeUso=GestaoSessaoPregaoPresencial">Sess&otilde;es de preg&atilde;o presencial</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/pregao/eletronico/gestaoSessaoPregaoEletronico.html?casoDeUso=GestaoSessaoPregaoEletronico">Sess&otilde;es de preg&atilde;o eletr&ocirc;nico</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/processocompra/pregao/parecerrecursos/pesquisaPregao.html?casoDeUso=ParecerRecursosContraRazoesRecursos">Parecer sobre recursos e contra-raz&otilde;es de recursos</a>
            </li>
            <li><a href="/seplagportal/processocompra/pregao/gestaopregaoautcomp/pesquisaPregao.html?metodo=pesquisar&amp;casoDeUso=GestaoPregaoAutComp">Gest&atilde;o do preg&atilde;o pela autoridade competente</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Cota&ccedil;&atilde;o Eletr&ocirc;nica </a>
        <ul>
            <li><a href="/seplagportal/processocompra/cotacao/consulta/pesquisaConsultaCotacoesEletronicas.html">Consultaa cota&ccedil;&otilde;es eletr&ocirc;nicas</a>
            </li>
            <li><a href="http://200.198.22.166/index.php?option=com_content&amp;task=view&amp;id=29&amp;Itemid=68">Orienta&ccedil;&otilde;es sobre COTEP</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/index.php?option=com_wrapper&amp;Itemid=135">Consulta a cota&ccedil;&otilde;es eletr&ocirc;nicas at&eacute; 2008</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/_tutorialcotep/index.php" target="_blank">Tutorial Eletr&ocirc;nico - COTEP</a>
            </li>
            <li><a href="/seplagportal/processocompra/cotacao/gestaocadastrofornecedoresvencedores/pesquisaCotacaoEletronica.html?metodo=iniciarPesquisando">Propostas e fornecedores vencedores</a>
            </li>
            <li><a href="/seplagportal/processocompra/cotacao/gestaocadastrolotesdados/pesquisaCotacaoEletronica.html">Cadastro&nbsp;de&nbsp;lotes&nbsp;e&nbsp;dados&nbsp;de<br />abertura&nbsp;de&nbsp;cota&ccedil;&atilde;o&nbsp;eletr&ocirc;nica</a>
            </li>
            <li><a href="/seplagportal/processocompra/cotacao/homologacao/pesquisaCotacaoParaHomologacao.html?metodo=iniciarPesquisando">Homologa&ccedil;&atilde;o de cota&ccedil;&atilde;o eletr&ocirc;nica</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Registro de pre&ccedil;os </a>
        <ul>
            <li><a href="https://www.registrodeprecos.mg.gov.br/aasi/jsp/login.jsp">Acesso ao sistema</a>
            </li>
            <li><a href="https://www.registrodeprecos.mg.gov.br/aasi/do/filtrarRPs">Consulta a Registros de Pre&ccedil;os</a>
            </li>
            <li><a href="http://200.198.22.166/index.php?option=com_content&amp;task=view&amp;id=30&amp;Itemid=71">Orienta&ccedil;&otilde;es para Servidores</a>
            </li>
            <li><a href="http://200.198.22.166/index.php?option=com_content&amp;task=view&amp;id=31&amp;Itemid=72">Divulga&ccedil;&atilde;o de ades&atilde;o - Carona</a>
            </li>
            <li><a href="http://200.198.22.166/index.php?option=com_content&amp;task=view&amp;id=32&amp;Itemid=73">Demais atas de registro de pre&ccedil;os</a>
            </li>
        </ul>
    </li>
    <li><a href="#">Processos de compra</a>
        <ul>
            <li><a href="#">Planejamento</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/planejamentocompra/configuracaoDataLimitePlanejamentoEstado.html">Configura&ccedil;&atilde;o de data limite de conclus&atilde;o do planejamento anual de compras do Estado</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/unidadegestoracomprasorgao/selecao.html">Sele&ccedil;&atilde;o de unidade gestora de compras do &oacute;rg&atilde;o</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamentocompra/cadastroParametrosPlanejamentoCompras.html">Cadastro de par&acirc;metros do Planejamento anual de compras do &oacute;rg&atilde;o</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/pesquisa/pesquisaPlanejamentoSolicitacoes.html">Consulta e cadastro de planejamentos de solicita&ccedil;&otilde;es</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/consultaPlanejamentoOrgaos.html">Consulta de planejamento de solicita&ccedil;&otilde;es pelos &oacute;rg&atilde;os</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/analise/itens.html">An&aacute;lise de itens de planejamento</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/planejamentoSolicitacoesAprovacao.html">Aprova&ccedil;&atilde;o de planejamento de solicita&ccedil;&otilde;es</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/consultaPlanejamento.html">Consulta e cadastro de planejamentos de processo de compra</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/planejamento/calendariocompras.html">Consulta ao calend&aacute;rio de compras do &oacute;rg&atilde;o</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Solicita&ccedil;&otilde;es</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/solicitacao/gestaoSolicitacao.html">Cadastrode solicita&ccedil;&otilde;es</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/aprovasolicitacao/aprovacaoSolicitacao.html">Aprova&ccedil;&atilde;ode solicita&ccedil;&otilde;es</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Pedidos</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/pedido/gestaoPedido.html">Cadastrode pedidos de compra</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/aprovapedido/aprovacaoPedido.html">Aprova&ccedil;&atilde;ode pedidos de compra</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/alteracaoUnidadePedido.html">Altera&ccedil;&atilde;o de unidade de compra de pedido de material e servi&ccedil;o</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Compras</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/processo/consultaProcessoCompra.html">Consulta e cadastrode processos</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/programacaoprevia/dadosconsolidados/consulta.html">Dados consolidados de programa&ccedil;&atilde;o or&ccedil;ament&aacute;ria pr&eacute;via</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/gestaoeditais/gestaoEditais.html?buscar=0">Editais</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/parecerauditoria/pesquisaParecerProcesso.html">Emiss&atilde;o de parecer de auditoria</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/parecerjuridico/pesquisaParecerProcesso.html">Emiss&atilde;o de parecer jur&iacute;dico</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/aprovaprocesso/aprovacaoProcesso.html">Aprova&ccedil;&atilde;ode processo de compra</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/propostavencedoras/gestaoPropostasVencedoras.html">Cadastro de propostas vencedoras</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/itemprocesso/pesquisaAdjudicacaoHomologacao.html">Adjudica&ccedil;&atilde;o, Homologa&ccedil;&atilde;o ou Ratifica&ccedil;&atilde;o de item de processo</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/gestaoitens/gestaoItensHomologados.html">Itens homologados-ratificados</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/telaPesquisaOsAf.html">Autoriza&ccedil;&atilde;o de fornecimento e ordem de servi&ccedil;o</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/programacaoprevia/consultaAutorizacaoContinuidadeProgPrevia.html">Autoriza&ccedil;&atilde;o de continuidade de programa&ccedil;&atilde;o or&ccedil;ament&aacute;ria pr&eacute;via</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/relatoriohistorico/consultaHistoricoProcessoCompra.html?buscar=0">Consulta a hist&oacute;ricos de processos de compra</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/emissaoRelatorios.html?metodo=consultar">Emiss&atilde;o de relat&oacute;rios para o TCEMG</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Obras</a>
                <ul>
                    <li><a href="/seplagportal/obra/consulta/consultaObra.html">Consulta e cadastro de obras</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/processocompra/processo/acompanhamentoprazoscontratacao/painelcontrole.html">Painel de controle</a>
            </li>
            <li><a href="#">Coleta de pre&ccedil;os</a>
                <ul>
                    <li><a href="/seplagportal/processocompra/coletaPrecos/gestao/gestaoColetaPrecos.html?metodo=iniciarPesquisando">Cadastramento de coleta de pre&ccedil;os</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/processocompra/processo/frota/dpvat/tabelaprevisao/pesquisa.html">Seguro DPVAT</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Melhores pre&ccedil;os </a>
        <ul>
            <li><a href="/seplagportal/melhorpreco/consultaMelhoresPrecos.html">Consulta a melhores pre&ccedil;os</a>
            </li>
            <li><a href="/seplagportal/melhorpreco/mapa/consultaMapaMelhorPreco.html">Mapa de melhores pre&ccedil;os</a>
            </li>
            <li><a href="/seplagportal/melhorpreco/ajusteindiceinflacionario/configuracaoIndiceInflacionario.html">Configura&ccedil;&atilde;o do valor dos &iacute;ndices inflacion&aacute;rios</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/index.php?option=com_content&amp;view=article&amp;id=799" target="_blank">Tutorial Eletr&ocirc;nico - SISMP</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Contratos </a>
        <ul>
            <li><a href="/seplagportal/contrato/consultaContratos.html">Consulta a contratos</a>
            </li>
            <li><a href="#">Solicita&ccedil;&atilde;o de altera&ccedil;&atilde;o em contrato</a>
                <ul>
                    <li><a href="/seplagportal/contrato/solicitacao/pesquisaSolicitacaoAlteracaoContrato.html">Consulta e cadastro de solicita&ccedil;&atilde;o de altera&ccedil;&atilde;o em contrato</a>
                    </li>
                    <li><a href="/seplagportal/contrato/parecerjuridico/pesquisaSolicitAlteracaoContrato.html">Emiss&atilde;o de parecer jur&iacute;dico</a>
                    </li>
                    <li><a href="/seplagportal/contrato/parecerauditoria/pesquisaSolicitAlteracaoContrato.html">Emiss&atilde;o de parecer de auditoria</a>
                    </li>
                    <li><a href="/seplagportal/contrato/acompanhamentoprazosalteracao/painelcontrole.html">Acompanhamento de prazos de altera&ccedil;&otilde;es em contratos</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/contrato/alteracaogestores/pesquisaContratos.html">Altera&ccedil;&atilde;o de gestores e unidade gestora de contrato</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Especif.&nbsp;de&nbsp;execu&ccedil;&atilde;o<br />de despesas </a>
        <ul>
            <li><a href="/seplagportal/execucaodespesas/empenho/pesquisaespecificacao/pesquisa.html">Cadastro e consulta a especifica&ccedil;&otilde;es</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/empenho/consultasaldosporempenho/telaConsultaSaldosPorEmpenho.html">Consulta a totalizadores e saldos</a>
            </li>
            <li><a href="#">Notas fiscais</a>
                <ul>
                    <li><a href="/seplagportal/execucaodedespesas/nota/pesquisanotasfiscaisaglutinadas/pesquisaNotasFiscaisAglutinadas.html">Consulta e cadastro de notas fiscais e aglutinadas</a>
                    </li>
                    <li><a href="/seplagportal/execucaodespesas/nota/prefatura/pesquisaPreFatura.html">Consulta a pr&eacute;-faturas</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/execucaodespesas/geral/gestaosituacaoexecprocessos/telaGestaoSituacaoExecProcessos.html">Situa&ccedil;&atilde;o de execu&ccedil;&atilde;o de processos</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/programacaoorcamentaria/pesquisa.html">Cadastro de programa&ccedil;&atilde;o or&ccedil;ament&aacute;ria</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/programacaoorcamentaria/pesquisa.html?acessoAutorizacao=1">Autoriza&ccedil;&atilde;o para libera&ccedil;&atilde;o de valor contratado excedente</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/programacaoorcamentaria/dadosconsolidados/consulta.html">Dados consolidados de programa&ccedil;&atilde;o or&ccedil;ament&aacute;ria</a>
            </li>
            <li><a href="/seplagportal/execucaodespesa/pagamentodpvat/pesquisaPagamentoDPVAT.html">Pagamento do seguro DPVAT</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Materiais e Servi&ccedil;os </a>
        <ul>
            <li><a href="/seplagportal/catalogo/consultaGruposClasseMaterialOuServico.html">Consulta a grupos de materiais e servi&ccedil;os</a>
            </li>
            <li><a href="/seplagportal/catalogo/consultaClasseMaterialOuServico.html">Consulta a classes de materiais e servi&ccedil;os</a>
            </li>
            <li><a href="/seplagportal/catalogo/consultaMateriaisCadastrados.html?tipo=material">Consulta a materiais</a>
            </li>
            <li><a href="/seplagportal/catalogo/consultaItensMateriaisCadastrados.html">Consulta a itens de materiais</a>
            </li>
            <li><a href="/seplagportal/catalogo/consultaServicosCadastrados.html?tipo=servico">Consulta a servi&ccedil;os</a>
            </li>
            <li><a href="/seplagportal/catalogo/consultaItensServicoCadastrados.html">Consulta a itens de servi&ccedil;os</a>
            </li>
            <li><a href="#">Consulta a especifica&ccedil;&otilde;es longas</a>
            </li>
            <li><a href="/seplagportal/administracao/configlinhafornecimentounidade.html">Linha de fornecimento por unidade de compra</a>
            </li>
            <li><a href="#">Bloqueio e libera&ccedil;&atilde;o</a>
                <ul>
                    <li><a href="/seplagportal/catalogo/bloqueio/pesquisaBloqueio.html">Consulta aos bloqueios de itens do cat&aacute;logo</a>
                    </li>
                    <li><a href="/seplagportal/catalogo/liberacao/pesquisaLiberacao.html">Consulta &agrave;s libera&ccedil;&otilde;es de itens do cat&aacute;logo</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Propostas</a>
                <ul>
                    <li><a href="/seplagportal/catalogo/propostamaterial/gestaoPropostaMaterial.html">Consulta e cadastro de proposta de materiais</a>
                    </li>
                    <li><a href="/seplagportal/catalogo/propostaservico/gestaoPropostaServico.html">Consulta e cadastro de proposta de servi&ccedil;o</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#"> Assinatura Digital </a>
        <ul>
            <li><a href="/seplagportal/assinaturadigital/consultaDocumentosAssinadosAprovacaoPedido.html">Documentos assinados - Pedidos de Compra</a>
            </li>
            <li><a href="/seplagportal/assinaturadigital/consultaDocumentosAssinadosEmissaoOsAf.html">Documentos assinados - AF e OS</a>
            </li>
            <li><a href="/seplagportal/assinaturadigital/verificacaoAutenticidadeDocumentosAssinados.html">Verificar autenticidade de documento assinado</a>
            </li>
            <li><a href="/seplagportal/assinaturadigital/verificacaofuncionamento.html">Verifica&ccedil;&atilde;o de funcionamento Assinatura Digital (NOVO COMPONENTE)</a>
            </li>
            <li><a href="/seplagportal/assinaturadigital/testadorassinaturadigital.html">Verifica&ccedil;&atilde;o de funcionamento Assinatura Digital (Antigo)</a>
            </li>
        </ul>
    </li>
    <li><a href="#">Administra&ccedil;&atilde;o Geral</a>
        <ul>
            <li><a href="/seplagportal/administracaogeral/municipiorecebimentomateriais/gestao.html">Cadastro e consulta de munic&iacute;pios para recebimento de materiais</a>
            </li>
            <li><a href="/seplagportal/administracaogeral/usuariosatestadores/gestao.html">Cadastro e consulta de usu&aacute;rios respons&aacute;veis pelo recebimento de materiais</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Administra&ccedil;&atilde;o do sistema </a>
        <ul>
            <li><a href="#">Configura&ccedil;&atilde;o</a>
                <ul>
                    <li><a href="/seplagportal/administracao/confAnoExercicioInterfaceSoft.html">Ano de exerc&iacute;cio para interfaces de software do SIAFI</a>
                    </li>
                    <li><a href="/seplagportal/administracao/confassinaturadigitalunidade.html">Assinatura digital para unidade de assessoria jur&iacute;dica ou de auditoria</a>
                    </li>
                    <li><a href="/seplagportal/administracao/confnotificacaoorgaosentidades/pesquisaOrgaos.html">E-mails de notifica&ccedil;&atilde;o para &oacute;rg&atilde;os</a>
                    </li>
                    <li><a href="/seplagportal/administracao/configuracaoNotifPedidosComItensTIC.html">Notifica&ccedil;&atilde;o de pedidos com itens TIC</a>
                    </li>
                    <li><a href="/seplagportal/administracao/orgaoentidade/assinatura/pesquisaPorOrgaos.html">&Oacute;rg&atilde;os para utiliza&ccedil;&atilde;o de assinatura digital</a>
                    </li>
                    <li><a href="/seplagportal/execucaodespesas/geral/configracaodeparametros/telaConfiguracaoParametrosDeSistema.html">Par&acirc;metros de execu&ccedil;&atilde;o de despesa</a>
                    </li>
                    <li><a href="/seplagportal/contratos/administracao/contratoinativo.html">Par&acirc;metros para contratos</a>
                    </li>
                    <li><a href="/seplagportal/processocompra/processo/configuracao/telaConfiguracaoParametrosProcessoCompra.html">Par&acirc;metros para exclus&atilde;o de registros</a>
                    </li>
                    <li><a href="/seplagportal/administracao/obra/pesquisaConfiguracaoObraPorOrgao.html">Permiss&atilde;o de cadastro de obra por &oacute;rg&atilde;o</a>
                    </li>
                </ul>
            </li>
            <li><a href="/seplagportal/administracao/consultaSaldoContratoPortalSIAFI.html">Acompanhamento de contratos com saldo inconsistente</a>
            </li>
            <li><a href="/seplagportal/administracao/bloqueioTemporario.html">Bloqueio tempor&aacute;rio de fun&ccedil;&otilde;es</a>
            </li>
            <li><a href="/seplagportal/administracao/mensagem/pesquisaMensagem.html?situacao=ATIVA">Comunica&ccedil;&atilde;o com usu&aacute;rios</a>
            </li>
            <li><a href="/seplagportal/administracao/consultanotasliquidadassaldofinanceiro.html">Consulta a notas liquidadas em quantitativo com saldo financeiro</a>
            </li>
            <li><a href="/seplagportal/execucaodedespesas/geral/conversaosaldounid/gestaoConversaoUnid.html">Convers&atilde;o de saldo de unidade cont&aacute;bil</a>
            </li>
            <li><a href="/seplagportal/inscricaoatualizacaosaldosiafi/atualizarSaldoSIAFI.html">Inscri&ccedil;&atilde;o e atualiza&ccedil;&atilde;o de saldo no SIAFI pelo administrador</a>
            </li>
            <li><a href="/seplagportal/contrato/motivosocorrencias/motivosOcorrenciasContratos.html">Motivos de ocorr&ecirc;ncias em contratos</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/permissaoexecorc/telaGestaoPermissoesExecOrc.html">Permiss&atilde;o de execu&ccedil;&atilde;o or&ccedil;ament&aacute;ria</a>
            </li>
            <li><a href="/seplagportal/execucaodespesas/permissaoliquidnotarestosapagar/telaPesquisaPermLiquidacao.html">Permiss&atilde;o de liquida&ccedil;&atilde;o de notas de restos a pagar</a>
            </li>
            <li><a href="/seplagportal/administracao/redeip/ativacaoRedeIP.html">Sele&ccedil;&atilde;o de processo para v&iacute;nculo a processos Rede IP</a>
            </li>
            <li><a href="/seplagportal/administracao/versao.html">Vers&atilde;o das bibliotecas</a>
            </li>
        </ul>
    </li>
    <li><a href="#"> Gest&atilde;o de Suprimentos </a>
        <ul>
            <li><a href="https://wwws.siad.mg.gov.br/siad/login.jsp">SIAD - Demais m&oacute;dulos (web)</a>
            </li>
            <li><a href="http://www.compras.mg.gov.br/siad-relatoriosarquivos">SIAD - Relat&oacute;rios / Arquivos</a>
            </li>
        </ul>
    </li>
</ul>